/*
   POSITION
*/

.pos-stat { position: static; }
.pos-rel  { position: relative; }
.pos-abs  { position: absolute; }
.pos-fix  { position: fixed; }

/* Values */

.top-0    { top:   0; }
.left-0   { left:  0; }
.right-0  { right: 0; }
.bottom-0 { bottom: 0; }

.top-1    { top:   1rem; }
.left-1   { left:  1rem; }
.right-1  { right: 1rem; }
.bottom-1 { bottom: 1rem; }

.top-2    { top:   2rem; }
.left-2   { left:  2rem; }
.right-2  { right: 2rem; }
.bottom-2 { bottom: 2rem; }

.top-4    { top:   4rem; }
.left-4   { left:  4rem; }
.right-4  { right: 4rem; }
.bottom-4 { bottom: 4rem; }

/* Top Percentage based scale */

.top-10  { top: 10%; }
.top-20  { top: 20%; }
.top-30  { top: 30%; }
.top-40  { top: 40%; }
.top-50  { top: 50%; }
.top-60  { top: 60%; }
.top-70  { top: 70%; }
.top-80  { top: 80%; }
.top-90  { top: 90%; }
.top-100 { top: 100%; }

.top-auto { top: auto; }
.top-i { top: inherit; ;}

.center { margin: 0 auto; }

@media screen and (min-width: 32em) {
  .pos-stat-s { position: static; }
  .pos-rel-s  { position: relative; }
  .pos-abs-s  { position: absolute; }
  .pos-fix-s  { position: fixed; }
  .top-0-s    { top:   0; }
  .left-0-s   { left:  0; }
  .right-0-s  { right: 0; }
  .bottom-0-s { bottom: 0; }
  .top-1-s    { top:   1rem; }
  .left-1-s   { left:  1rem; }
  .right-1-s  { right: 1rem; }
  .bottom-1-s { bottom: 1rem; }
  .top-2-s    { top:   2rem; }
  .left-2-s   { left:  2rem; }
  .right-2-s  { right: 2rem; }
  .bottom-2-s { bottom: 2rem; }
  .top-4-s    { top:   4rem; }
  .left-4-s   { left:  4rem; }
  .right-4-s  { right: 4rem; }
  .bottom-4-s { bottom: 4rem; }
  .top-10-s  { top: 10%; }
  .top-20-s  { top: 20%; }
  .top-30-s  { top: 30%; }
  .top-40-s  { top: 40%; }
  .top-50-s  { top: 50%; }
  .top-60-s  { top: 60%; }
  .top-70-s  { top: 70%; }
  .top-80-s  { top: 80%; }
  .top-90-s  { top: 90%; }
  .top-100-s { top: 100%; }
  .top-auto-s { top: auto; }
  .top-i-s { top: inherit; ;}
  .center-s { margin: 0 auto; }
}

@media screen and (min-width:48em) {
  .pos-stat-m { position: static; }
  .pos-rel-m  { position: relative; }
  .pos-abs-m  { position: absolute; }
  .pos-fix-m  { position: fixed; }
  .top-0-m    { top:   0; }
  .left-0-m   { left:  0; }
  .right-0-m  { right: 0; }
  .bottom-0-m { bottom: 0; }
  .top-1-m    { top:   1rem; }
  .left-1-m   { left:  1rem; }
  .right-1-m  { right: 1rem; }
  .bottom-1-m { bottom: 1rem; }
  .top-2-m    { top:   2rem; }
  .left-2-m   { left:  2rem; }
  .right-2-m  { right: 2rem; }
  .bottom-2-m { bottom: 2rem; }
  .top-4-m    { top:   4rem; }
  .left-4-m   { left:  4rem; }
  .right-4-m  { right: 4rem; }
  .bottom-4-m { bottom: 4rem; }
  .top-10-m  { top: 10%; }
  .top-20-m  { top: 20%; }
  .top-30-m  { top: 30%; }
  .top-40-m  { top: 40%; }
  .top-50-m  { top: 50%; }
  .top-60-m  { top: 60%; }
  .top-70-m  { top: 70%; }
  .top-80-m  { top: 80%; }
  .top-90-m  { top: 90%; }
  .top-100-m { top: 100%; }
  .top-auto-m { top: auto; }
  .top-i-m { top: inherit; ;}
  .center-m { margin: 0 auto; }
}

@media screen and (min-width: 96em) {
  .pos-stat-l { position: static; }
  .pos-rel-l  { position: relative; }
  .pos-abs-l  { position: absolute; }
  .pos-fix-l  { position: fixed; }
  .top-0-l    { top:   0; }
  .left-0-l   { left:  0; }
  .right-0-l  { right: 0; }
  .bottom-0-l { bottom: 0; }
  .top-1-l    { top:   1rem; }
  .left-1-l   { left:  1rem; }
  .right-1-l  { right: 1rem; }
  .bottom-1-l { bottom: 1rem; }
  .top-2-l    { top:   2rem; }
  .left-2-l   { left:  2rem; }
  .right-2-l  { right: 2rem; }
  .bottom-2-l { bottom: 2rem; }
  .top-4-l    { top:   4rem; }
  .left-4-l   { left:  4rem; }
  .right-4-l  { right: 4rem; }
  .bottom-4-l { bottom: 4rem; }
  .top-10-l  { top: 10%; }
  .top-20-l  { top: 20%; }
  .top-30-l  { top: 30%; }
  .top-40-l  { top: 40%; }
  .top-50-l  { top: 50%; }
  .top-60-l  { top: 60%; }
  .top-70-l  { top: 70%; }
  .top-80-l  { top: 80%; }
  .top-90-l  { top: 90%; }
  .top-100-l { top: 100%; }
  .top-auto-l { top: auto; }
  .top-i-l { top: inherit; ;}
  .center-l { margin: 0 auto; }
}

